.customers {
  display: flex;
  gap: 30px;

  &__item {
    width: calc((100% - 150px) / 6);
    height: 92px;
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border: 1px solid var(--svg-color-icon);
  border-radius: 4px;
  fill: var(--svg-color-icon);

  transition: fill 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);

  &:hover, &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
