.container-networks {
  margin-left: 70px;
}

.container-networks__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text-color);
  margin-bottom: 20px;
}

.networks {
  display: flex;
  gap: 10px;
  fill: var(--button-text-color);
  justify-content: center;
  align-items: center;
}

.networks__item {
  fill: var(--button-text-color);
}

.networks__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--button-text-color);

  transition: background-color 250ms var(--cubic-bezier);

  &:hover {
    fill: var(--button-text-color);
    border-radius: 50%;
    background-color: var(--accent-color);
  }
  &:focus {
    fill: var(--button-text-color);
    border-radius: 50%;
    background-color: var(--accent-color);
  }
}
