.preference__container {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    // display: flex;
    gap: 0;
  }
}

.preference__item {
  width: 100%;

  @media screen and (max-width: 767px) {
  &:not(:last-child) {
      margin-bottom: 30px;}}

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.preference__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 120px;
  background: var(--sectionbg-background);
  border-radius: 4px;
}

.preference__icon {
  background-color: var(--sectionbg-background);
  border-radius: 4px;
}

.preference__title {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.preference__text {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
